
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@500&family=Orbitron&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans Mono", "Orbiton";
}

/* Начало хедера */


header {
    background-color: rgba(111, 78, 55, 0.70);
    border-bottom: 2px solid #D9D9D9;
}

.header {
    max-width: 1920px;
    max-height: 92px;
    margin: 0 auto;
    box-sizing: border-box;
    width: 73%;
    height: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    transition: ease-in 500ms;
}

.logo img {
    display: flex;
    align-items: center;
}

.logo:hover {
    transform: translateY(-10px);
    
}

.logo-link ul {
    display: flex;
    gap: 25px;
}

.logo-link li, a {
    flex-shrink: 0;
    font-size: 40px;
    color: #FFF;
    list-style: none;
    text-decoration: none;
    transition: ease-in 250ms;
}

#link-1:hover {
    text-shadow: 8px 0px 3px rgba(0, 0, 0, 0.25);
    color: rgb(255, 164, 94);
    border-bottom: 5px solid;
}

#link-2:hover {
    text-shadow: 8px 0px 3px rgba(0, 0, 0, 0.25);
    color:aqua;
    border-bottom: 5px solid;
}

#link-3:hover {
    text-shadow: 8px 0px 3px rgba(0, 0, 0, 0.25);
    color: blue;
    border-bottom: 5px solid;
}

/* Начало слайдера */

.slider-main {
/* background-color: black; */

}

.sliders {
    display: flex;
    max-width: 1920px;
    max-height: 500px;
    border: 10px solid #ff0000;
    background-color: black;
    background-size: 1600px;
    width: 100%;
    height: 100vw;
    overflow: hidden;
}

.middle {
    width: 100%;
    max-height: 500px;
    position: absolute;
    top: 92.3px;
    /* left: 0%; */
    
    
}